/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@mixin borderRadius ($radius : 12px) {
  -webkit-border-radius : $radius;
  -moz-border-radius  : $radius;
  border-radius : $radius;
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;
}

.overflow-scroll {
  overflow-y: inherit;
}
.item-md-label input { background: rgb(42,125,191) !important;}
.item-md-label .input-label {color: #000 !important;}
.hero .hero-icon+h1 {
  color: #2196F3 !important;
}

.item {
  border: none !important;
}

.page {
  height: 100%;
}

.login-screen {
  background: url("../img/login-bg.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.item-md-label {
  margin-left: 0px !important;
}

.login-container {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
    text-align: center;*/
    /*background: url('http://amiraanuar.com/wp-content/uploads/2014/06/Screen-Shot-2014-06-15-at-9.07.07-PM.png') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background: #87e0fd;
    background: -moz-linear-gradient(45deg,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -webkit-linear-gradient(45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background: linear-gradient(45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 );

}

.login-container > .button-row img {
    max-width: 81%;
}

.rounded {
  @include borderRadius;
}
