<!--<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><i class="icon ion-close-circled"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()" class="gem-form">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <div class="text-center padding">
          <div class="padding">Not yet registered?</div>
          <button class="button button-positive" type="submit">Sign up for free</button>
        </div>
      </div>
    </form>
  </ion-content>
</div>-->

<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <ion-content class="gem-splash_background-login">
    <div class="hero no-header flat">
            <div class="content">
                <div class=""><img src="../img/gemionic/logo.PNG"></img></div>
                <h1></h1>
            </div>
        </div>
        <form class="" ng-submit="logInform(data)" method="post">
          <div class="list padding">
              <ion-md-input placeholder="Username"  highlight-color="energized" ng-model="data.email" type="text"></ion-md-input>
              <ion-md-input placeholder="Password"  highlight-color="energized" ng-model="data.password" type="password"></ion-md-input>
          </div>
          <div class="padding">
              <button  type="submit" class="button button-block button-positive ink">Login</button>
          </div>
          <!-- <div class="padding"> -->
            <!-- <a ui-serf="#/app/feed"> -->
              <!-- <button type="button" name="button" class="button button-block button-assertive"></button> -->
            <!-- </a> -->
          <!-- </div> -->
      </form>
  </ion-content>
</ion-view>
