<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">

    <!-- Sidebar Content -->
    <ion-content class="gem-sidebar dark">
      <!-- Profile Box - Extends ionic's .row -->
      <div class="row gem-sidebar-profile-box">
        <!-- Profile Thumb -->
        <div class="col col-25">
          <img src="img/gemionic/profile-image.jpg" class="gem-profile-image" alt="">
        </div>
        <!-- End Profile Thumb -->

        <!-- Profile Name -->
        <div class="col col-50">
          <h5 class="title">Ashely Awesome</h5>
          <h6 class="action-links">Likes | Others</h6>
        </div>
        <!-- End Profile Name -->

        <!-- Account Settings Icon -->
        <div class="col col-25 gem-text-center">
          <i class="gem-profile-settings-icon icon ion-gear-b"></i>
        </div>
        <!-- End Account Settings Icon -->

      </div>
      <!-- End Profile Box -->
      <ion-list>
        <!--<ion-item class="item-ng-click" nav-clear menu-close ng-click="login()">Login</ion-item>
        <ion-item nav-clear menu-close href="#/app/feed">Feed</ion-item>
        <ion-item nav-clear menu-close href="#/app/start">Starter View</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/viewpost">View Post (2)</ion-item>
        <ion-item nav-clear menu-close href="#/app/viewposttwo">View Post</ion-item>
        <ion-item nav-clear menu-close href="#/app/fgrid">Friend (Grid)</ion-item>-->
        <ion-item nav-clear menu-close href="#/app/bookings">Bookings</ion-item>
        <ion-item nav-clear menu-close href="#/app/feedback">Feed Back</ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/email">Send Mail</ion-item>-->
        <ion-item nav-clear menu-close href="#/app/profile">Profile</ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/profiletwo">Profile 2</ion-item>
        <ion-item nav-clear menu-close href="#/app/profilethree">Profile 3</ion-item>
        <ion-item nav-clear menu-close href="#/app/editprofile">Edit Profile</ion-item>
        <ion-item nav-clear menu-close href="#/app/timeline">Timeline</ion-item>
        <ion-item nav-clear menu-close href="#/app/invite">Invite</ion-item>
        <ion-item nav-clear menu-close href="#/app/news">News</ion-item>-->
        <ion-item menu-close ng-click="logUserOut()"> Log Out </ion-item>


      </ion-list>
    </ion-content>
    <!-- End sidemenu content -->
  </ion-side-menu>
</ion-side-menus>
