<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->
  <ion-content class="gem-splash_background">
    <div class="gem-form text-center">
      <!-- Logo as you please -->
      <!--<div class="gem-splash-logo">
        <img src="img/gemionic/gem-logo.png" alt="Logo">
        <h3 class="gem-white">Gemionic Social Theme for IonicFramework</h3>
      </div>-->
      <!-- end Logo -->

      <div class="hero no-header flat">
            <div class="content">
                <div class=""><img src="../img/gemionic/logo.PNG"></img></div>
                <h1></h1>
                <p> &nbsp; </p>
                <h4 class="gem-white"></h4>
            </div>
        </div>

      <!-- buttons. .button-rounded can be added for more roundness -->
      <!--<button menu-toggle="left" class="button button-borderless button-rounded button-balanced">Open Sidebar</button>-->
      <a href="#/app/login" target="_self" class="button button-balanced button-rounded gem-white">Enter</a>
      <!-- end buttons -->
    </div>
  </ion-content>
</ion-view>
